
<main>
    <div class="container-fluid mx-0 px-0">
        <div class="reserving-movie-image ">
            <p class="display-1">O nas</p>
        </div>
    </div>
    <div class="container text-center" id="aboutUs">
        <p class="display-1"> Lorem Ipsum</p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Leo a diam sollicitudin
            tempor. Ante metus dictum at tempor commodo ullamcorper a lacus vestibulum.
            Duis convallis convallis tellus id interdum velit laoreet. Ac ut consequat
            semper viverra nam libero justo laoreet. Pellentesque diam volutpat commodo
            sed. Facilisi cras fermentum odio eu feugiat pretium nibh ipsum consequat.
            Lacus sed viverra tellus in hac habitasse platea dictumst. Augue interdum
            velit euismod in pellentesque. Aenean euismod elementum nisi quis eleifend
            quam adipiscing. Commodo nulla facilisi nullam vehicula ipsum a. Id semper
            risus in hendrerit gravida rutrum. Neque volutpat ac tincidunt vitae semper
            quis. Nec tincidunt praesent semper feugiat nibh sed pulvinar. Augue mauris
            augue neque gravida in fermentum. Ut ornare lectus sit amet est placerat in
            egestas erat. Et malesuada fames ac turpis egestas maecenas. Neque viverra justo
            nec ultrices dui sapien eget. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Leo a diam sollicitudin
            tempor. Ante metus dictum at tempor commodo ullamcorper a lacus vestibulum.
            Duis convallis convallis tellus id interdum velit laoreet. Ac ut consequat
            semper viverra nam libero justo laoreet. Pellentesque diam volutpat commodo
            sed. Facilisi cras fermentum odio eu feugiat pretium nibh ipsum consequat.
            Lacus sed viverra tellus in hac habitasse platea dictumst. Augue interdum
            velit euismod in pellentesque. Aenean euismod elementum nisi quis eleifend
            quam adipiscing. Commodo nulla facilisi nullam vehicula ipsum a. Id semper
            risus in hendrerit gravida rutrum. Neque volutpat ac tincidunt vitae semper
            quis. Nec tincidunt praesent semper feugiat nibh sed pulvinar. Augue mauris
            augue neque gravida in fermentum. Ut ornare lectus sit amet est placerat in
            egestas erat. Et malesuada fames ac turpis egestas maecenas. Neque viverra justo
            nec ultrices dui sapien eget.
        </p>
    </div>

</main>